#newemployee{
    display: flex;
    flex-direction: row;
    gap:30px
}
body{
    background-color: #000000;
    color:#ffffff;
    padding:30px
}
input{
    background-color: #000000;
    border: 1px solid #ffffff;
    padding: 10px;
    width: 350px;
    border-radius:5px;
    margin-top: 10px;
    color: #ffffff;
}
#adduserbtn{
    background-color: #ffffff;
    color: #000000;
    border: none;
    width: 150px;
    padding:10px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
.h1{
    font-size: 1.5rem;
}
.employee{
    display: flex;
    gap: 140px;
    width: 500px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
}
.maindiv{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.deletebtn{
    width: 180px;
    border-radius: 30px;
}